<html>
 <head>

  <title>Forks</title>
 </head>
 <body>
  {% for post in posts %}
  <table  border="5" cellpadding="10" cellspacing="0">
   <caption>{{post.participant_names}}</caption>
   <tr>

      <td colspan="2">{{post.bookmaker1}} <br> {{post.bookmaker2}}</td>



     <td>{{post.event_1}} <br>{{post.event_2}}</td>
    <td>{{post.coeff_1}}<br>{{post.coeff_1}}</td>
     <td> {{post.marge_percent}}</td>
    <td> <a href="{{ post.href_1 }}">Ссылка 1</a><br><a href="{{ post.href_2 }}">Ссылка 2</a></td>
   </tr>
   {% endfor %}
  </table>

 </body>
</html>



