<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Спортивная статистика</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    .top-buffer {
        margin-top:20px;
    }
    .table tbody>tr>td.vert-align{
        vertical-align: middle;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Арбитраж</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/eventsList">События</a>
                    </li>
                    <li>
                        <a href="/editor">Редактор связей</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!--Выбор таблицы-->
        <div class="row">
            <div class="col-lg-4 text-left">
                <p>Таблица редактирования:</p>
            </div>
            <div class="col-lg-4 text-left">
                <select id="typeSelect" class="form-control">
                    <option value="sports" >Спорт</option>
                    <option value="leagues">Лиги</option>
                    <option value="participants">Участники</option>
                </select>
            </div>
            <div class="col-lg-4 text-left">
            </div>
        </div>

        <!--Опциональное поле для выбора области редактирования-->
        <select id="sportChoice"  class="form-control top-buffer" style="width: 25%; float: left; display: none; margin-right: 20px">

        </select>

        <div id="sportChoiceLoad" style="width: 25%; display: none; overflow:auto;" class="top-buffer"><img src="static/img/hourglass.gif" style="margin: auto; display:block;"></div>

        <select id="leagueChoice" class="form-control top-buffer" style="width: 25%; display: none;">

        </select>

        <div id="leagueChoiceLoad" style="width: 25%; display: none; overflow:auto;" class="top-buffer"><img src="static/img/hourglass.gif" style="margin: auto; display:block;"></div>

        <!--Таблица для соответствия-->
        <table id="dataTable" class="table table-condensed table-bordered top-buffer" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th data-field="sbobet" class="vert-align text-center col-md-6">sbobet</th>
                <th data-field="marathonbet" class="vert-align text-center col-md-6">marathonbet</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div id="loading" style="overflow:auto;" class="top-buffer"><img src="static/img/loading.gif" style="margin: auto; display: block;"></div>


    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/editor.js"></script>

</body>

</html>
